.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}
.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

.info_header {
  background-color: #fa8072 !important;
  margin-top: 20px;
}

.product_name {
  color: #dc143c;
  font-size: 20px;
}

.list-group-item {
  color: #fa8072 !important;
}

.product_name:hover {
  color: #fa8072;
  font-size: 20px;
}

.product_category {
  color: #fa8072;
  font-size: 20px;
}

.card {
  width: 100%;
}
.cart {
  width: 100%;
  margin: 50px;
  margin: 20px;
}

.btn {
  margin: 10px;
  background-color: #fa8072 !important;
}

.cart_img {
  width: 120px;
}

.item_row td {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.total {
}

.cart thead th {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 15px;
}

.cart thead,
.total {
  background-color: #fa8072;
  padding: 20px;
  color: #fff;
  margin: 40px 20px 20px 20px;
  text-align: center;
}
/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}
